#wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.87em;
    color: #434343;
    line-height: 160%;
    background-color: #e0d4ce;
}

#header {
    width: 100%;
    height: 600px;
    background-image: url('../img/headbg.jpg');
    background-size: cover;
}

#content{
    width: 100%;
    z-index: 1;
}

#footer{
    height: 100px;
    background-color: #434343;
    margin-top: 150px;
}

nav{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #434343;
    font-size: 1em;
    color: #d7d7d7;
    z-index: 2;
}

.logo{
    background-image: url('../img/logo.png');
    background-size: cover;
    width: 96px;
    height: 50px;
    float: left;
    margin-left: 10px;
}

.thdud{
    float: right;
    margin: 5px;
    width: 40px;
    height: 40px;
    background-image: url('../img/menu_icon.png');
    background-size: cover;
    cursor: pointer;
}

nav ul{
    margin: 10px 0px;
    display: none;
    width: 100%;
    text-align: center;
    clear: both;
    background-color: #434343;
}

nav ul li{
    padding: 10px;
}

a{
    text-decoration: none;
    color: #d7d7d7;
}

nav a:link, nav a:visited a:active{
    color: #d7d7d7;
}

#main{
    margin: 0% auto;
    margin-top: 50px;
    width: 320px;
    height: 400px;
    
}

.bol{
    font-weight: 600;
}

#caText{
    text-align: center;
    padding-top: 120px;
}

.caPho{
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
}

.caPho img{
    width: 125px;
    height: 175px;
}

[class ^= cap]{
    display: inline-block;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 125px;
    height: 175px;
    margin: 10px;
}

strong{
    color: #fff;
    font-size: 0.5em;
    position: absolute;
    display: block;
    z-index: 1;
    width: 125px;
    height: 155px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    bottom: -175px;
    padding: 10px;
}

span{
    position: absolute;
    display: block;
    z-index: 0;
    top: 0;
    width: 125px;
    height: 175px;
    background-color: rgba(225, 225, 225, 0.5);
    opacity: 0;
}

.spec{
    width: 200px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 900;
}

.spText{
    width: 90%;
    /*text-align: center;*/
    /*position: relative;
    left: 50%;
    margin-left: -150px;*/
    padding-top: 20px;
    margin: 0% auto;
}

#mainCoon{
    margin-top: 150px;
    /*border: 1px solid;*/
    padding: 150px 0px 200px 0px;
    background-image: url('../img/coonm_bg.png');
    background-size: 100% 100%;
}

#mainCoon,.shText .spec, #mainCoon .spText{
    color: #d7d7d7;
}

#qualImg{
    display: none;
}

#qualMob{
    margin-top: 150px;
}

.specc{
    width: 200px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 30px;
    font-size: 1em;
    font-weight: 900;
}

.shImg{
    width: 100%;
    height: 400px;
    background-image: url('../img/catshow.jpg');
    background-size: cover;
    margin-top: 200px;
}

.shText{
    background-color: #434343;
    color: #d7d7d7;
    height: 400px;
    padding-top: 160px;
}

#contect .spec{
    padding-top: 150px;
}

#icon{
    width: 220px;
    position: relative;
    left: 50%;
    margin-left: -105px;
}

.icon{
    width: 40px;
    padding: 15px;
}

#contectTab{
    padding-top: 100px;
    padding-bottom: 30px;
    margin: 0 auto;
    border-spacing: 20px 10px;
}

#fot{
    color: #d7d7d7;
    padding: 20px 20px 0px 20px;
    font-size: 0.85em;
}
